Day 6

### Question 1: 
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only. 
 
Input Format: The first line of the input contains an email address. Output Format: Print the company name in single line. Example; Input: john@google.com Output: google

In [51]:
user_input= input("enter email address: ")

enter email address:manasa@google.com

In [52]:
name = user_input.split('@')
company = name[1].split('.')
print(company[0])

google

### Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically. 
 
Input Format: The first line of input contains words separated by the comma. Output Format: Print the sorted words separated by the comma. Example: Input: without,hello,bag,world Output: bag,hello,without,world

In [53]:
input_line = input("Enter comma-separated sequence of words: ")

Enter comma-separated sequence of words: hello,i,am,human,not,robot

In [54]:
list_format=input_line.split(',')
print(','.join(sorted(list_format)))

am,hello,human,i,not,robot

### Question 3: 
Create your own Jupyter Notebook for Sets. Reference link: https://www.w3schools.com/python/python_sets.asp

In [185]:

A = {'a','b','c','d','e'}
B={1,2,3}
C = {'b','c','f','g'}

print(A)

{'d', 'e', 'a', 'b', 'c'}

In [186]:
# itter over the set

for i in A:
    print(i)

d
e
a
b
c

In [181]:
# to add the elements to the set
A.add('f')
print("Add :",A)

Add : {1, 'f', 'd', 2, 3, 'e', 'b', 'c'}

In [187]:
# merge the two set
A.update(B)
print("Update: ",A)

Update:  {1, 2, 'd', 3, 'e', 'a', 'b', 'c'}

In [188]:
# to find the Difference between two set
print("Difference :", A - B)

Difference : {'d', 'e', 'a', 'b', 'c'}

In [189]:
# to find the intersection elements of two set
print("Intersection :", A.intersection(C))

Intersection : {'b', 'c'}

In [191]:
# to remove specified elemtens
A.discard('a')
print("Discard :", A)

Discard : {1, 2, 'd', 3, 'e', 'b', 'c'}

In [190]:
# to check if two sets have intersection or not
print("isdisjoint :", A.isdisjoint(B))

isdisjoint : False

In [192]:
# Return True if all items set A are present in set B
print(A.issubset(B))

False

In [195]:
#Remove a random item from the set
A.pop()

'd'

In [198]:
#Return a set that contains all items from both sets, duplicates are excluded
A.union(C)

{3, 'b', 'c', 'e', 'f', 'g'}

### Question 4:  
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates. 
 
Input Format: The first line contains n-1 numbers with each number separated by a space. Output Format: Print the missing number Example: Input:1 2 4 6 3 7 8 Output:5

Explanation: In the above list of numbers 5 is missing and hence 5 is the input

In [107]:
input_num= input("Enter the number: ")

Enter the number: 1 2 3 5 6 7 8 9

In [110]:
num=[]
for i in input_num.split(' '):
    num.append(int(i))

for i in range(1,len(num)+2):
    if i not in num:
        print(i)

4

In [151]:
# using set

B=[]
A = []
for i in input_num.split(' '):
    A.append(int(i))
    
for i in range(1,len(num)+2):
    B.append(i)

print(set(set_B).difference(set(set_A)))

{4}

### Question 5: 
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved. 
 
Example: If the input list is 12 24 35 24 88 120 155 88 120 155 
 
Then the output should be 12 24 35 88 120 155 
 
Explanation: Third, seventh and ninth element of the list L has been removed because it was already present. Input Format: In one line take the elements of the list L with each element separated by a space. Output Format: Print the elements of the modified list in one line with each element separated by a space. Example: Input: 12 24 35 24 Output: 12 24 35

In [77]:
input_list = input("Enter numbers: ")

Enter numbers: 1 2 3 4 3 4 5 3 6

In [83]:
inputs = input_list.split(' ')

new_list=[]
new_str = ""
for i in inputs:
    if i not in new_list:
        new_list.append(i)
        
print(' '.join(new_list))

1 2 3 4 5 6